<!DOCTYPY html>
<html lang="en">
  <head>
    <title>Style</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'avi/lib/bootstrap.min.css' %}">
    <script src="{% static 'avi/lib/jquery.min.js' %}"></script>
    <script src="{% static 'avi/lib/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'avi/css/style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
    </nav>
    <div class="container-fluid text-center">
      <div class="row content">
	<div class="col-sm-2 sidenav">
	  {% include "avi/sidebar-nav.html" with sidebar_menu="pipeline" %}
	</div>
	<div class="col-sm-10 text-left">
	  <h1>hola</h1>
	</div>
      </div>
    </div>
    <footer class="container-fluid text-center">
      holas
    </footer>
  </body>
</html>
