<?xml version="1.0"?>
<sfm>
  <gaia>
    <http-header>http://</http-header><host>gea.esac.esa.int</host>
    <port>80</port>
    <tap-server>/tap-server</tap-server>
    <async-pathinfo>/tap-server/tap/async</async-pathinfo>
    <login-pathinfo>/tap-server/login</login-pathinfo>
    <logout-pathinfo>/tap-server/logout</logout-pathinfo>
    <upload-pathinfo>/tap-server/Upload</upload-pathinfo>
    <results-pathinfo>/results/result</results-pathinfo>
    <jobid-tag>uws:jobId</jobid-tag>
    <phase-tag>uws:phase</phase-tag>
    <cookie>cookies.txt</cookie>		
  </gaia>
  <samp>
    <ip>0.0.0.0</ip>
    <port>21013</port>
    <device>topcat</device>
  </samp>
  <herschel>
    <http-header>http://</http-header>
    <host>archives.esac.esa.int</host>
    <port>80</port>
    <tap-server>/hsa/whsa-tap-server</tap-server>
    <async-pathinfo>/hsa/whsa-tap-server/tap/async</async-pathinfo>
    <login-pathinfo>/hsa/whsa-tap-server/login</login-pathinfo>
    <logout-pathinfo>/hsa/whsa-tap-server/logout</logout-pathinfo>
    <upload-pathinfo></upload-pathinfo>
    <results-pathinfo>/results/result</results-pathinfo>
    <jobid-tag>uws:jobId</jobid-tag>
    <phase-tag>uws:phase</phase-tag>
    <cookie>cookies.txt</cookie>
    <data>http://archives.esac.esa.int/hsa/whsa-tap-server/data</data>
    <metadata_url>http://archives.esac.esa.int/hsa/aio/jsp/metadata.jsp</metadata_url>
    <product_url>http://archives.esac.esa.int/hsa/aio/jsp/product.jsp</product_url>
  </herschel>
  <!-- tables. It is possible to download this information from the archives -->
  <hsa_tables header="hsa.">
    <ancillary>ancillary</ancillary>
    <cat_hppsc_070>cat_hppsc_070</cat_hppsc_070>
    <cat_hppsc_100>cat_hppsc_100</cat_hppsc_100>
    <cat_hppsc_160>cat_hppsc_160</cat_hppsc_160>
    <cat_spsc_250>cat_spsc_250</cat_spsc_250>
    <cat_spsc_350>cat_spsc_350</cat_spsc_350>
    <cat_spsc_500>cat_spsc_500</cat_spsc_500>
    <instrument>instrument</instrument>
    <metadata_expert_panels>metadata_expert_panels</metadata_expert_panels>
    <observation_science>observation_science</observation_science>
    <observing_mode>observing_mode</observing_mode>
    <observing_mode_per_instrument>observing_mode_per_instrument</observing_mode_per_instrument>
    <proposal>proposal</proposal>
    <proposal_coauthor>proposal_coauthor</proposal_coauthor>
    <proposal_info>proposal_info</proposal_info>
    <proposal_observation>proposal_observation</proposal_observation>
    <proposal_pi_user>proposal_pi_user</proposal_pi_user>
    <publication>publication</publication>
    <qualify_flag>qualify_flag</qualify_flag>
    <v_active_observation>v_active_observation</v_active_observation>
  </hsa_tables>
  <hsa_updp_tables header="updp.">
    <updp_files>updp_files</updp_files>
    <updp_request_catalog>updp_request_catalog</updp_request_catalog>
    <updp_request>updp_request</updp_request>
    <updp_files_observation>updp_files_observation</updp_files_observation>
  </hsa_updp_tables>
  <hsa_hpdp_tables header="hpdp.">
  </hsa_hpdp_tables>
  <hsa_updp2_tables header="updp2.">
  </hsa_updp2_tables>
  <gaiadr1_tables>
    <allwise_best_neighbour>allwise_best_neighbour</allwise_best_neighbour>
    <allwise_neighbourhood>allwise_neighbourhood</allwise_neighbourhood>
    <allwise_original_valid>allwise_original_valid</allwise_original_valid>
    <aux_qso_icrf2_match>aux_qso_icrf2_match</aux_qso_icrf2_match>
    <cepheid>cepheid</cepheid>
    <ext_phot_zero_point>ext_phot_zero_point</ext_phot_zero_point>
    <gaia_source>gaia_source</gaia_source>
    <gsc23_best_neighbour>gsc23_best_neighbour</gsc23_best_neighbour>
    <gsc23_neighbourhood>gsc23_neighbourhood</gsc23_neighbourhood>
    <gsc23_original_valid>gsc23_original_valid</gsc23_original_valid>
    <phot_variable_time_series_gfov>phot_variable_time_series_gfov</phot_variable_time_series_gfov>
    <phot_variable_time_series_gfov_statistical_parameters>phot_variable_time_series_gfov_statistical_parameters</phot_variable_time_series_gfov_statistical_parameters>
    <ppmxl_best_neighbour>ppmxl_best_neighbour</ppmxl_best_neighbour>
    <ppmxl_neighbourhood>ppmxl_neighbourhood</ppmxl_neighbourhood>
    <ppmxl_original_valid>ppmxl_original_valid</ppmxl_original_valid>
    <rrlyrae>rrlyrae</rrlyrae>
    <sdss_dr9_best_neighbour>sdss_dr9_best_neighbour</sdss_dr9_best_neighbour>
    <sdss_dr9_neighbourhood>sdss_dr9_neighbourhood</sdss_dr9_neighbourhood>
    <sdss_dr9_original_valid>sdss_dr9_original_valid</sdss_dr9_original_valid>
    <tgas_source>tgas_source</tgas_source>
    <tmass_best_neighbour>tmass_best_neighbour</tmass_best_neighbour>
    <tmass_neighbourhood>tmass_neighbourhood</tmass_neighbourhood>
    <tmass_original_valid>tmass_original_valid</tmass_original_valid>
    <ucac4_best_neighbour>ucac4_best_neighbour</ucac4_best_neighbour>
    <ucac4_neighbourhood>ucac4_neighbourhood</ucac4_neighbourhood>
    <ucac4_original_valid>ucac4_original_valid</ucac4_original_valid>
    <urat1_best_neighbour>urat1_best_neighbour</urat1_best_neighbour>
    <urat1_neighbourhood>urat1_neighbourhood</urat1_neighbourhood>
    <urat1_original_valid>urat1_original_valid</urat1_original_valid>
    <variable_summary>variable_summary</variable_summary>
  </gaiadr1_tables>
  <file_manager>
    <resources_path>/data/resources/</resources_path>
  </file_manager>
  <votable_manager>
    <piece_size>4096</piece_size>
  </votable_manager>
</sfm>

